require "./task"

Deployment::Task.configure do |config|
  config.app_name = "your-binary-name"
  config.path = "path/to/your/app"

  config.host = "remote-host"
  config.user = "deploy"

  config.source = "git-repo-path"
  <%- if cross_compile? -%>

  config.libcrystala_location = "location/for/libcrystal.a"
  config.llvm_command = "llvm-config"
  <%- end -%>
end