require "deploy-cr/deployment"

class Deployment::Task < DeployCR::Deployment
  include DeployCR::Task::CloneProject::Properties

  step DeployCR::Task::CloneProject
  <%- if npm? -%>
  step DeployCR::Task::CompileAssets
  <%- end -%>
  step retrieve_llvm_target!
  step compile_app!
  step sync_to_server!
  step link_binary!
  step restart!
end