require "deploy-cr/deployment"

class Deployment::Task < DeployCR::Deployment
  include Task::CloneProject::Properties
  <%- if cross_compile? -%>
  include Task::CrossCompile::Properties
  <%- end %>

  step Task::CloneProject
  <%- if npm? -%>
  step Task::CompileAssets
  <%- end -%>
  <%- if cross_compile? -%>
  step Task::CrossCompile::Compile
  <%- end %>
  step sync_to_server!
  <%- if cross_compile? -%>
  step Task::CrossCompile::Link
  <%- end %>
end