require "deploy-cr/deployment"

class Deployment::Task < DeployCR::Deployment

  step clone_repository!
  <%- unless skip_npm? -%>
  step compile_assets!
  <%- end -%>
  step compile_shards!
  step retrieve_llvm_target!
  step compile_app!
  step sync_to_server!
  step link_binary!
  step restart!

end